<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCx3pTvAG2RK501HRrKRCbQ-gVqf5BZ34E</string>
	<key>GCM_SENDER_ID</key>
	<string>543630875956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsAppClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-messenger-12afe</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-messenger-12afe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543630875956:ios:97f549f195e09e521b9961</string>
</dict>
</plist>